<template name="travel">
  <div class="travel-page content-page">
    <h4 class="content-title">Travel</h4>
    <!-- <h2 class="travel-out out" style="padding-left: 10px;">X</h2> -->
    <h4>Because getting there is half the fun!</h4>
    <ul>
      <li>The closest airport is Norfolk. It’s ~2 hours from the houses. Sorry.</li>
      <li>4x4 vehicles are required to get to the houses because they’re ON the beach.</li>
      <li>Transportation will be provided for our friends with minivans and convertibles. Specifically yellow convertibles.</li>
    </ul>
    <img class="content-image" src="images/travel.JPG" width="450"/>
    <div class="content-dec-box">
      <a href="http://reserve.lovettfest.com/" class= "dec-one"><h6 id="dec-one">I'm so in!<i class="fa fa-chevron-right"></i></h6></a>
      <a href="/"><h6 id="dec-two" class="no-final"><i class="fa fa-chevron-left"></i>I don't wanna get stuck!</h6></a>
    </div>
  </div>
</template>
