<template name="play">
  <div class="play-page content-page">
    <!-- <h2 class="play-out out" style="padding-left: 10px;">X</h2> -->
    <h4 class="content-title">Play</h4>
    <h4>I mean... We're all friends here, but... You're Going Down!</h4>
    <ul>
      <li>Beach Soccer / Volleyball</li>
      <li>Cornhole, Beer Pong, and Flip Cup</li>
      <li>Poker, Puzzles and Board Games</li>
      <li>Golf and Deep Sea Fishing (Not Included)</li>
    </ul>
    <img class="vertical-content-image" src="images/play.JPG" width="200"/>
    <div class="content-dec-box">
      <a href="/" class= "dec-one eat"><h6 id="dec-one">Yes, I Eat Pieces of Shit Like You For Breakfast! <i class="fa fa-chevron-right"></i></h6></a>
      <a href="/"><h6 id="dec-two" class='no-eat'><i class="fa fa-chevron-left"></i> You eat Pieces of shit for Breakfast?</h6></a>
    </div>
  </div>

</template>
