<template name="sleep">
  <div class="sleep-page content-page">
    <!-- <h2 class="sleep-out out" style="padding-left: 10px;">X</h2> -->
    <h4 class="content-title">Sleep</h4>
    <h4>There are 18 bedrooms in the Mark Twain and 13 at the Hemingway. Generally, adults with children have reserved the Hemingway and irresponsible adults reserved the Mark Twain.</h4>
    <ul>
      <li>Each room has its own flat screen TV</li>
      <li>Beds come in King, Queen, or Bunks</li>
      <li>Bathrooms are private or shared w/ one room</li>
      <li>Sheets and bath towels are provided</li>
      <li>Most bedrooms have enough floor space for air mattresses</li>
    </ul>
    <img class="content-image" src="images/sleep.JPG" width="350"/>
    <div class="content-dec-box">
      <a href="/" class= "dec-one relax"><h6 id="dec-one">Is there any down time? <i class="fa fa-chevron-right"></i></h6></a>
      <a href="/"><h6 id="dec-two" class="no-relax"><i class="fa fa-chevron-left"></i>Mansions on the beach are lame </h6></a>
    </div>
  </div>
</template>
