<template name="party">
  <div class="party-page content-page">
    <!-- <h2 class="party-out out" style="padding-left: 10px;">X</h2> -->
    <h4 class="content-title">Party</h4>
    <h4>Bring Your Family. Bring Your Buddy. Bring Your "Current Situation".
    Join us in OBX for a truly fun experience.</h4>
    <ul>
      <li>7 nights with 75 - 100 friends (Young and Old)</li>
      <li>2 Houses 2 Pools 2 Cabana Bars</li>
      <li>Lloyd Dobbler Effect booked for 3 Shows!</li>
      <li>Full Kegs... Everybody's gonna be there!</li>
    </ul>
    <img class="content-image" src="images/party.JPG" width="350"/>
    <div class="content-dec-box">
      <a href="/" class= "dec-one play"><h6 id="dec-one">Yes, I Want To Play! <i class="fa fa-chevron-right"></i></h6></a>
      <a href="/"><h6 id="dec-two" class="no-play"><i class="fa fa-chevron-left"></i> Nope, Sounds Lame.</h6></a>
    </div>
  </div>
</template>
